.left-box {
  flex: 2;
  background-color: #d3d3d3;
  padding: 15px;
}

.section {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

textarea {
  width: 100%;
  height: 120px;
  resize: none;
}
