.left-box {
  flex: 2;
  background-color: #d3d3d3;
  padding: 15px;
}

.section {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.output-box {
  width: 100%;
  height: 120px;
  padding: 8px;
  box-sizing: border-box;

  border: 1px solid #ccc;
  border-radius: 4px;

  background-color: #fff;
  color: #000;

  overflow-y: auto;
  white-space: pre-wrap;

  font-family: inherit;

}

