<div class="right-box">
  <div class="count-box">
    <p>Word Count: </p>
    <p>Char Count: </p>
  </div>

  <div class="button-grid">
    <button>Clear All</button>
    <button>White-space Remove</button>
    <!-- <button>Reverse All</button> -->
    <button (click)="onReverse()">Reverse All</button>

    <button>Remove Special Char</button>
    <button>Remove styling</button>
    <button>Capitalize Word</button>
  </div>

  <div class="style-buttons">
    <button>B</button>
    <button>I</button>
    <button>U</button>
    <button>+</button>
    <button>-</button>
  </div>
</div>
