<div class="right-box">
  <div class="count-box">
    <p>Word Count: {{wordCount}}</p>
    <p>Char Count: {{charCount}}</p>
  </div>

  <div class="button-grid">
    <button (click)="onClear()">Clear All</button>
    <button (click)="onWhiteSpaceRemove()">White-space Remove</button>
    <!-- <button>Reverse All</button> -->
    <button (click)="onReverse()">Reverse All</button>

    <button (click)="onRemoveSpecialChar()">Remove Special Char</button>
    <button (click)="onRemoveStyle()">Remove styling</button>
    <button (click)="onCapitalizeWord()">Capitalize Word</button>
  </div>

  <div class="style-buttons">
    <button (click)="onBold()">B</button>
    <button (click)="onItalic()">I</button>
    <button (click)="onUnderline()">U</button>
    <button (click)="onFontIncrease()">+</button>
    <button (click)="onFontDecrease()">-</button>
  </div>
</div>
