<div class="container">
  <h2 class="header">Text Formatter</h2>

  <div class="content">
    <!-- Left Side -->
   <app-text-display
  [inputText]="inputText"
  [outputText]="outputText"
  (textChanged)="onTextChange($event)">
</app-text-display>

<app-formatters
  (reverseClicked)="reverseText()"
  (clearClicked)="clearText()"
  (whiteSpaceRemoveClicked)="removeWhiteSpace()"
  (removeSpecialCharClicked)="removeSpecialCharacters()"
  [wordCount]="wordCount"
  [charCount]="charCount"
>
</app-formatters>

  </div>
</div>
