<div class="container">
  <h2 class="header">Text Formatter</h2>

  <div class="content">
    <!-- Left Side -->
   <app-text-display
  [inputText]="inputText"
  [outputText]="outputText"
  [fontSize]="fontSize"
  (textChanged)="onTextChange($event)"
  >
</app-text-display>

<app-formatters
  (reverseClicked)="reverseText()"
  (clearClicked)="clearText()"
  (whiteSpaceRemoveClicked)="removeWhiteSpace()"
  (removeSpecialCharClicked)="removeSpecialCharacters()"
  [wordCount]="wordCount"
  [charCount]="charCount"
  (capitalizeWordClicked)="capitalizeWords()"
  (boldClicked)="makeBold()"
  (italicClicked)="makeItalic()"
  (underlineClicked)="makeUnderline()"
  (fontIncreaseClicked)="increaseFontSize()"
  (fontDecreaseClicked)="decreaseFontSize()"
>
</app-formatters>

  </div>
</div>
